<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Content -->
  <main class="container">
    
      
 

    
</table>
<body>
  <br>
  <br>
<h2>Welcom To About Me Page</h2>
<br>
<br><br>
<img  src="/Assets/images/me.jpeg" height="250px" alt="profile picture">
<table>
<tr>
<td>Name: Hussein Abed</td>


</tr>
<tr>
  <br>
  <br>
<td valign="bottom"> About me: 



Hello there. my name is Hussein Abed. Im a student at centennial college.im currently enrolled in software engineering technician... <br>
I dont have prevous experince in this felid and never got a job related to software enginering. <br>
I learn a lot throw this course and i got friends from cultures and gained more experince.
</td>
</tr>
<tr>
  <br>
  <br>
  <tr>
    <br>
    <td> <button type="button" class="btn btn-primary">Resume Link</button></td>
    <br>
    <td><a href="https://www.docdroid.net/sVZm6Fy/randomized-resume-pdf"></a> </td>

</tr>
<br>
<br>
</body>


<br>
  </main>
  <br>
  <br>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>


  



